<div class="ui container">
  <div class="ui basic segment">
    <app-add-recipe (newRecipe)="newRecipeAdded($event)"></app-add-recipe>
  </div>
  <div>
      <input type='text' placeholder='filter recipe...' #filter>
      <button (click)="applyFilter(filter.value)">filter</button>
    </div>
  <div class="ui segment">
      
    <div class="ui cards">
      <app-recipe *ngFor='let localRecipe of recipes | recipeFilter:filterRecipeName' 
        [recipe]='localRecipe'></app-recipe>
    </div>
  </div>
</div>